.time {
    background-color: rgba(teal, 0.5);
    color: black;
    border-radius: 8px;
    padding: 4px 8px;
    text-align: center;
    border: 2px solid teal;
    font-family: 'basiic', monospace;
    width: 120px;
}
