@font-face {
    font-family: '000webfont';
    src: url('/fonts/000webfont.ttf');
}

@font-face {
    font-family: basiic;
    src: url('/fonts/basiic.ttf');
}

@font-face {
    font-family: Cherish;
    src: url('/fonts/Cherish.ttf');
}

@font-face {
    font-family: heartfont;
    src: url('/fonts/heartfont.ttf');
}

@font-face {
    font-family: virale;
    src: url('/fonts/virale.ttf');
}
