.statuscafe {
    padding: 0.5em;
    background-color: azure;
    border: 1px solid hotpink;
    margin: 1rem 4rem 0;
}
.statuscafeUsername {
    margin-bottom: 0.5em;
}
.statuscafeContent {
    margin: 0 1em 0.5em 1em;
}

.intro {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 24px;
    > .imgWrapper {
        margin-right: 2rem;
    }
    > p {
        flex-basis: fit-content;
    }
}

.blinkies {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.updates {
}

.lastUpdate {
    text-align: center;

    > span {
        color: black;
    }

    > time {
        color: teal;
        text-decoration: underline;
    }
}
