.navigation {
    > ul {
        display: flex;
        flex-flow: row wrap;

        > li {
            list-style: none;
            margin: 0 0.5rem;
        }
    }
}

.shrineContainer {
    margin-bottom: 4rem;
}
