.date {
    text-align: center;
    font-family: 'basiic', monospace;
    color: grey;
    margin-left: 2.5rem;
}

.container {
    padding: 2rem 4rem;
}

.backButton {
    font-family: 'basiic', sans-serif;
    font-size: 1rem;
    margin-left: 2.5rem;
    text-transform: lowercase;
}
